.Rproj.user
.Rhistory
.RData
.Ruserdata

/.DS_Store
Report/.DS_Store
Report/templateSNA4DSproject/.DS_Store
Trade Network Data and Code Base/.DS_Store

/Report/templateSNA4DSproject/_output

/Report/templateSNA4DSproject/_output/Report-Group-08-Quarto.pdf
/Report/templateSNA4DSproject/_output/SNA4DSprojectTemplate2025.pdf
/Report/templateSNA4DSproject/SNA4DSprojectTemplate2025_files/figure-pdf/fig-reg_plot-1.pdf
/Report/templateSNA4DSproject/_output/SNA4DSprojectTemplate2025_files/figure-pdf/fig-reg_plot-1.pdf

Report/templateSNA4DSproject/_output/Report-Group-08-Quarto.pdf